<div id="message-container"/>
<div id="header-container">
    Header container
</div>
<div id="body-container">
    Body Container
</div>
<div class="footer" id="footer-container">
    Footer Container
</div>
